.jumbotron {
  padding-top: 6rem;
  background-color: #E2FFF8;
}

#projek {
  background-color: #E2FFF8;
}

#about {
  padding-top: 100px;
}

#projek {
  padding-top: 100px;
}

#kontak {
  padding-top: 100px;
}

.card {
	box-shadow: 0 0 5px 3px #198754;
}

.sedow {
	box-shadow: 0 0 5px 2px #198754;
}

.tsedow {
	text-shadow: 0px 0px 1px rgba(0,0,0,.5);
}

.tembus {
	opacity: .8;
}